body{
    font-family: "Open Sans", sans-serif;
}

.banner-container{
    background-color: #cacaca;
} 

.banner-column{
    background-color: #6c6b6b;
}

.navbar-container{
    background-color: #262B37;
    
    /*  */
}

.about-container{
    background-color: #317474d7;
}
.education-container{
    background-color: #EEEEEE;
}
.red-color{
    color: #FB857F;
}
.circle{
    background-color: #FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}